<div class="col-lg-12" *ngIf="!identity">
    <div class="col-lg-6">
        <h1>Identificate</h1>
    </div>
    <div class="col-lg-6">
        <h1>Registrate</h1>
    </div>
</div>

<div *ngIf="identity" class="navigation col-lg-12">
    <div style="text-align:center">
        <h1>
            Welcome to {{ title }}!
        </h1>
        
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="glyphicon glyphicon-search"></span> Mi cuenta
                        </a>    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="glyphicon glyphicon-log-out"></span> Cerrar sesión
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>

<div class="clearfix"></div>

<div *ngIf="identity" class="central col-lg-12">
    <p>Under construction...</p>
    
    <div class="text-center panel-body" id="chrono">
        <div class="values">00:00:00</div>
        <div>
            <button class="btn btn-success btn-lg">
                <span class="glyphicon glyphicon-play"></span> Start
            </button>
            <button class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-pause"></span> Pause
            </button>
            <button class="btn btn-danger btn-lg">
                <span class="glyphicon glyphicon-stop"></span> Stop
            </button>
        </div>
    </div>
</div>