body{
    background: #eee;
}

.navbar {
    margin-bottom: 20px;
}
.bg-dark {
    background-color: #343a40 !important;
}

.navbar-brand {
    color: #fff;
}

.nav-link {
    color: #fff;
}

/*
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.1);
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: .25rem;
}*/
